/* src/App.css */

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.overlay h1 {
  font-size: 3rem;
  margin: 0;
}

.overlay p {
  font-size: 1.5rem;
  margin: 0;
}

/* src/App.css */

.contact-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.contact-button:hover {
  background-color: #0056b3;
}
